@import '../../assets/colors';

#blank-page{
  background-image: url("../../assets/images/main-bg.png");
}
#blank-page h1{
  background-color: $base-color;
  color: white;
  padding: 10pt 15pt;
  font-weight: normal;
  font-size: 13pt;
  border-radius: 20pt;
}
