<div fxFill fxLayout="column" fxLayoutAlign="space-between">
  <div fxFlex class="scroll">
    <app-placeholder *ngIf="page.loading" [data]="'contacts'"></app-placeholder>
    <app-not-found *ngIf="page.notFound" [type]="'contacts'"></app-not-found>
    <ul class="tab-list style-2">
      <li fxLayout *ngFor="let contact of contacts; let first = first">
        <a mat-button fxFlex [routerLink]="['/main/conversation/'+contact.id]" queryParamsHandling="merge" >
          <div class="item-content" fxLayout fxLayoutAlign="start center">
            <div class="image-wrapper">
              <img [src]="contact.avatar" alt="">
            </div>
            <div class="item-info" fxFlex>
              <div class="basic">
                <h3>{{contact.name}}</h3>
                <p>
                  <span></span>
                  <span>{{contact.email}}</span>
                </p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <mat-progress-bar *ngIf="page.loadMore" mode="query"></mat-progress-bar>
</div>
