@import './../../assets/colors.scss';

#login-page {
}
#login-page > div {
  padding: 10pt;
}

#login-page h1 {
  font-weight: normal;
  color: $gray-color;
  margin-top: 0;
  font-size: 23pt;
  margin-bottom: 55pt;
}

#login-page form {
}


#login-page form .mat-form-field-underline {
  display: none;
}

#login-page form div button {
}

#login-page app-button {
  height: 36pt !important;
  border-radius: 4pt;
  overflow: hidden;
}

button.mat-raised-button.mat-primary {
  font-size: 14pt;
}


#login-page .mat-form-field-infix {
  border: 1pt solid gainsboro;
  padding: 10pt;
  border-radius: 4pt;
}

#login-page  .mat-form-field-invalid .mat-form-field-infix {
  border-color: #f44336;
}

#login-page .mat-input-container:not(.mat-focused) .mat-form-field-empty.mat-form-field-label {
  padding-left: 10pt;
  padding-top: 5pt;
}

#login-page .mat-form-field:first-of-type {
  margin-bottom: 20pt;
}

#login-page .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-26pt);
  transform: translateY(-26pt);
  -ms-transform: translateY(-26pt);
  width: auto;
}

#login-page .mat-form-field-label-wrapper{
  overflow: initial;
}
