@import './../../assets/colors.scss';

#login-page {
}

#login-page h1 {
  font-weight: normal;
  color: $gray-color;
  margin-top: 0;
}

#login-page form {
}

#login-page form .mat-form-field-flex {
  border: 1px solid red;
}

#login-page form .mat-form-field-underline {
  display: none;
}

#login-page form div button {
}

#login-page app-button {
  height: 36pt !important;
  border-radius: 4pt;
  overflow: hidden;
}

#login-page .mat-form-field-infix {
  border: 1pt solid gainsboro;
  padding: 10pt;
  border-radius: 4pt;
}
