<div fxFill id="login-page" fxLayout="column" fxLayoutAlign="center">
  <div fxLayout fxLayoutAlign="center center">
    <div fxFlex="340pt">
      <h1>
        Sign in to your account
      </h1>
      <form action="" (submit)="login()" name="loginForm" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field hideRequiredMarker class="example-full-width">
          <input matInput required placeholder="Email" autocomplete="false" type="email" name="email"
                 [(ngModel)]="inputs.email"/>
        </mat-form-field>
        <mat-form-field hideRequiredMarker class="example-full-width">
          <input matInput required placeholder="Password" type="password" name="password"
                 [(ngModel)]="inputs.password"/>
        </mat-form-field>
        <div fxLayout>
          <app-button fxFill [disabled]="loading" label="Sign in" loadingLabel="Signing In"></app-button>
        </div>

      </form>
      <button (click)="testEvent()">test</button>
      <div fxLayout fxLayoutAlign="start center">
        <p>If you do not have an account?</p>
        <button mat-button routerLink="/signUp">Join Us</button>
      </div>
    </div>
  </div>
</div>
