<div fxFill id="sidebar" fxLayout="column">

  <form action="" class="has-padding">
    <mat-form-field floatLabel="never" fxLayout>

      <input matInput type="search" placeholder="Search for Conversation...">
      <span matPrefix>
        <mat-icon>search</mat-icon>
      </span>
    </mat-form-field>
  </form>

  <mat-tab-group fxFlex class="tab-group"
                 backgroundColor="green"
                 headerPosition="below"
                 (selectedTabChange)="selectedTabChange($event)">


    <mat-tab fxLayout="column" [label]="link.label" *ngFor="let link of tabs; let first = first;" fxFill class="border-top">

      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon>{{link.icon}}</mat-icon>
          <span>
            {{link.label}}
          </span>
        </div>
      </ng-template>
      <div class="demo-tab-content">
        <div *ngIf="first && selectedTab == 'Conversations'">
          <app-conversations></app-conversations>
        </div>
        <div *ngIf="!first && selectedTab == 'Contacts'">
          <app-contacts></app-contacts>
        </div>
      </div>

    </mat-tab>

  </mat-tab-group>

</div>
