<div fxFill>

  <mat-tab-group fxFill class="tab-group"
                 backgroundColor="green"
                 headerPosition="below"
                 disableRipple="false"
                 (selectedTabChange)="selectedTabChange($event)">

    <mat-tab fxLayout="column" [label]="link.label" *ngFor="let link of tabs" fxFill class="border-top">

      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="space-arround center">
          <mat-icon>{{link.icon}}</mat-icon>
          <span>
            {{link.label}}
          </span>
        </div>
      </ng-template>

      <div  class="demo-tab-content">



        {{link.label}}
      </div>

    </mat-tab>

  </mat-tab-group>

</div>
