@import '../../assets/colors.scss';
@import '../../styles';

.tabs-items{
  height: 67.5pt;
}

.tab-group .mat-tab-body-wrapper{
  height: 100%;
}
.tab-group .mat-tab-label{
  color: $tab-label-color;
  height: 68pt;
  flex: 1;
}
.tab-group .mat-tab-label.mat-tab-label-active{
  color: $active-tab-label-color;
  font-weight: bold;
}
.tab-group .mat-tab-label .mat-icon{
  font-size: 21pt;
  width: 31pt;
  height: 26pt;
}

.tab-group.mat-tab-group-inverted-header .mat-ink-bar {
  bottom: 0;
  top: auto;
  height: 2pt;
}

.tab-group .mat-tab-header{
  @extend %top-border;
}

#sidebar{
  min-width: 300pt !important;
}

.tab-group .demo-tab-content{
  //@extend %has-padding;
}

#sidebar .mat-form-field .mat-input-wrapper {
  flex: 1;
  background-color: #f5f5f5;
  border-radius: 4pt;
  padding: 8pt;
}
#sidebar .mat-form-field .mat-input-wrapper .mat-form-field-underline{
  display: none;
}
#sidebar .mat-form-field .mat-form-field-infix{
  border-top: 0;
  padding-left: 6pt;
}

#sidebar .mat-form-field .mat-input-flex{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}


#sidebar .mat-form-field-label{
  left: 6pt;
}
#sidebar .mat-icon{
  color: #979797;
}


.tab-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.tab-list li{}
.tab-list li a{
  padding: 10pt;
}
.tab-list.style-2 li a{
  @extend %bottom-border;
  padding: 6pt 10pt;
}
.tab-list li a .item-content{}
.tab-list li a .item-content .image-wrapper{
  width: 40pt;
  height: 40pt;
  margin-right: 10pt;
}
.tab-list.style-2 li a .item-content .image-wrapper{
  width: 30pt;
  height: 30pt;
}
.tab-list li a .item-content .image-wrapper img{}
.tab-list li a .item-content .item-info{
  text-align: left;
  line-height: 19pt;
}
.tab-list li a .item-content .item-info .basic h3{
  @extend %zero-margin;
  font-size: 11pt;
}
.tab-list li a .item-content .item-info .basic p{
  @extend %zero-margin;
  color: $gray-color;
  font-size: 10pt;
}
.tab-list li a .item-content .item-info .basic p span{}
.tab-list li a .item-content .item-info .extra{
  text-align: center;
}
.tab-list li a .item-content .item-info .extra span{
  color: $gray-color;
}
.tab-list li a .item-content .item-info .extra em{
  @extend %badge-icon;
}
