$tab-icons-color: #9e9e9e;
$tab-label-color: #b7b7b7;

$sections-border-color: #e1e1e1;
$badge-bg-color: #74bf21;
$badge-fg-color: white;

$active-tab-icon-color: #212121;
$active-tab-label-color: #212121;
