@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@import 'assets/colors.scss';

html, body{
  height: 100%;
  margin: 0;
}

.mat-toolbar.mat-primary, .mat-raised-button.mat-primary{
  color: white !important;
}

.image-wrapper{
  border-radius: 50%;
  overflow: hidden;
}
.image-wrapper img{
  width: 100%;
}
%top-border {
  border-top: 1px solid $sections-border-color  !important;
}
%right-border {
  border-right: 1px solid $sections-border-color !important;
}
%has-padding {
  padding: 10pt;
  box-sizing: border-box;
}

.top-border{
  @extend %top-border;
}
.right-border{
  @extend %right-border;
}


.has-padding{
  @extend %has-padding;
}



