@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@import 'assets/colors.scss';
@import 'assets/typography.scss';


html, body{
  height: 100%;
  margin: 0;
  font-family: tahoma;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.scroll{
  overflow-y: auto;
}

.mat-toolbar.mat-primary, .mat-raised-button.mat-primary{
  color: white !important;
}

.image-wrapper{
  border-radius: 50%;
  overflow: hidden;
}
.image-wrapper img{
  width: 100%;
}
%top-border {
  border-top: 1px solid $sections-border-color  !important;
}
%right-border {
  border-right: 1px solid $sections-border-color !important;
}
%left-border {
  border-left: 1px solid $sections-border-color !important;
}
%bottom-border {
  border-bottom: 1px solid $sections-border-color !important;
}
%has-padding {
  padding: 10pt;
  box-sizing: border-box;
}

%zero-margin{
  margin: 0;
}

%badge-icon {
  width: 18pt;
  height: 18pt;
  display: inline-block;
  background-color: #74bf21;
  color: white;
  text-align: center;
  font-style: normal;
  border-radius: 50%;
}

.bottom-border{
  @extend %bottom-border;
}
.top-border{
  @extend %top-border;
}
.right-border{
  @extend %right-border;
}
.left-border{
  @extend %left-border;
}


.has-padding{
  @extend %has-padding;
}

.display-flex{
  flex: 1;
}

%meta-title{
  font-size: $conversation-title-size;
}
.meta-title{
  @extend %meta-title;
}
